* {
  padding: 0;
  margin: 0;
}

body {
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Mukta', sans-serif;
}

header {
  display: inline;
}

header nav {
  box-shadow: 0 0 5px black;
  background-color: #F5B7B1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 10px 20px;
}

header .logo {
  width: 60px;
  height: 50px;
}

header nav ul {
  padding-right: 10px;
  list-style: none;
  display: flex;
  gap: 30px;
}

header nav ul li a {
  color: #472A24;
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
}

header nav ul li a:hover {
  color: #D6816E;
  font-weight: bold;
}

.main-navigation {
  padding: 10px 20px;
  box-shadow: 0 0 5px black;
  position: inline;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.main-navigation ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.main-navigation ul li {
position: relative;
}

.main-navigation ul li:not(:last-child) {
border-right: 1px solid #D6816E;
}

.main-navigation ul li a {
  color: #472A24;
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
  padding-right: 35px;
}

.main-navigation ul li a:hover {
  color: #D6816E;
  font-weight: bold;
}

.our-team {
    text-align: center;
    padding-top: 20px;
}

.title {
  font-size: 50px;
  font-weight: bold;
}

.our-team-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 20px 50px;
    padding: 40px 40px 20px;
    background-color: #eaead7;
    border-radius: 10px;
    box-shadow: 4px 8px 10px 0px rgba(0,0,0,0.2);
}
.card:hover {
  background-color: #D6816E;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
}

.img-team {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.sosmed {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.sosmed:hover {
  width: 35px;
  height: 35px;
}
