body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#d49e67;
    width: 100%;
    padding: 4px;
    margin: 0 auto;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.img-navbar {
    width: 35px;
    height: 35px;
    margin-left: 20px;
}

.navbar-name {
    margin-left: 6px;
}

.menu {
    display: flex;
}

.menu-navbar {
    padding: 0px 15px;
    cursor: pointer;
}

.menu-navbar:hover {
    transition: color 0.3s;
    color:#e4e4ac;
}

.about-us {
    text-align: center;
    width: 100%;
    margin: auto;
}

.about-us-desc {
    padding: 0px 50px;
}

.btn {
    margin-top: 10px;
    padding: 4px 50px;
    border-radius: 10px;
    background-color: #eaead7;
    cursor: pointer;
}

.btn:hover {
    background-color: #e4e4ac;
    transition: .5s;
}

.contact-us {
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 50px;
}

.contact-card {
    border-radius: 10px;
    width: 300px;
    background-color: #eaead7;
    margin: auto;
    padding: 10px;
}

.our-team {
    text-align: center;
    width: 100%;
    padding-top: 40px;
}

.our-team-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 20px 50px;
    padding: 40px 40px 20px;
    background-color: #eaead7;
}

.img-team {
    width: 200px;
    margin-bottom: 20px;
}
