body{
    font-family: 'Mukta', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e4e4ac;
    width: 100%;
    padding: 4px;
}

.img-navbar {
    width: 100px;
    height: 30px;
    margin-left: 20px;
}

.menu {
    display: flex;
}

.menu-navbar {
    padding: 0px 15px;
    cursor: pointer;
}

.menu-navbar:hover {
    transition: color 0.5s;
    color: #d6816e;
}

.about-us {
    text-align: center;
    width: 100%;
    margin: auto;
}

.btn {
    padding: 4px 50px;
    border-radius: 10px;
    background-color: #e4e4ac;
    cursor: pointer;
}

.btn:hover {
    background-color: #eaead7;
    transition: .5s;
}

.contact-us {
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 50px;
}

.contact-card {
    border-radius: 10px;
    width: 300px;
    background-color: #e4e4ac;
    margin: auto;
    padding: 10px;
}

.our-team {
    text-align: center;
    width: 100%;
    padding-top: 40px;
}

.our-team-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 20px 50px;
    padding: 40px;
    background-color: #e4e4ac;
}

.img-team {
    width: 200px;
}
