* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mukta", sans-serif;
}
.home{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: inline;
}

.nav .nav-upper {
  box-shadow: 0 0 5px black;
  background-color: #ffd1ce;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 10px 20px;
  padding: 10px 20px;
  z-index: 1000;
}

.nav .logo {
  width: 90px;
  height: 50px;
}

.nav .nav-upper ul {
  padding-right: 10px;
  list-style: none;
  display: flex;
  gap: 30px;
}
.nav .nav-upper ul li a {
  color: #472a24;
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
}

.nav .nav-upper ul li a:hover {
  color: #d6816e;
  font-weight: bold;
}
.main-navigation {
  padding: 10px 20px;
  box-shadow: 0 0 5px black;
  position: inline;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.menu-toggle {
  display: none; /* Initially hide the menu toggle on larger screens */
}

.main-navigation ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.main-navigation ul li {
  position: relative;
}

.main-navigation ul li:not(:last-child) {
  border-right: 1px solid #d6816e;
}

.main-navigation ul li a {
  color: #472a24;
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
  padding-right: 35px;
}

.main-navigation ul li a:hover {
  color: #d6816e;
  font-weight: bold;
}

/* Responsive */
@media screen and (max-width: 600px) {
  .main-navigation ul {
    display: none; /* Hide the menu items on smaller screens */
    flex-direction: column; /* Stack items vertically */
    position: absolute;
    margin-top: 60px; /* Adjust the distance from the top */
    left: 0;
    right: 0;
    background-color: #fff; /* Add a background color for better visibility */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    justify-content: center;
  }

  .menu-toggle {
    display: flex; /* Show the menu toggle on smaller screens */
    cursor: pointer;
  }

  .menu-toggle:before {
    content: '\2630'; /* Unicode character for three horizontal lines */
    font-size: 24px;
  }

  .main-navigation.mobile-menu-open ul {
    display: flex; /* Show the menu items when the menu is open */
    padding: 10px;
  }
}

.our-team {
    text-align: center;
    padding-top: 20px;
}

.title {
  font-size: 50px;
  font-weight: bold;
}

.our-team-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 20px 50px;
    padding: 40px 40px 20px;
    background-color: #eaead7;
    border-radius: 10px;
    box-shadow: 4px 8px 10px 0px rgba(0,0,0,0.2);
}
.card:hover {
  background-color: #D6816E;
  transform: translateY(-5px); 
  transition: transform 0.3s ease; 
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
}

.img-team {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.sosmed {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.sosmed:hover {
  width: 32px;
  height: 32px;
}

#myFooter {
  background-color: #472a24;
  padding: 20px 0;
  text-align: center;
  margin-top: 70px; /* Adjust this value based on your design */
}

#myFooter p {
  color: white;
  font-size: 15px;
  margin: 0;
}
