body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

/* Gaya untuk elemen header */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e4e4ac;
    color: #fff;
    padding: 4px;
    margin: 0 auto;
    padding-bottom: 4px;
}

/* Gaya untuk gambar di header */
.img-navbar {
    width: 50px; 
    height: 50px;
    margin-left: 60px;
}

/* Gaya untuk menu navigasi */
.menu {
    display: flex;
}

.menu-navbar {
    display: inline;
    margin: 0 10px;
    font-size: 18px;
    color: #333;
    text-decoration: none;
}

/* Gaya untuk artikel berita */
.berita {
    background-color: #f9f9f9;
    margin: 0px;
    padding: 20px;
    border: 0px solid #ddd;
}

/* Gaya untuk judul berita */
.berita h1 {
    color: #333;
    font-size: 30px;
}

.berita-img {
    border-radius: 10px;
    width: 300px;
    height: 100px;
    background-color: #e4e4ac;
    margin: auto;
    padding: 50px;
}

.berita h2 {
    color: #797979;
    font-size: 12px;
}
/* Gaya untuk teks berita */
.berita p {
    color: #555;
}
